
.homepage_background {
    background-image:url('./Photo/Homepage background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  }

    .subpage_background {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .subpage_background::before {
      content: "";
      background-image:url('./Photo/Homepage background.jpg');
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      filter: blur(6px);
    }

.strokeme {
position: relative;
text-align: center;
color: white;
font-size: 50px;
outline: 15px red;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
max-width: 940px;
margin: 0 auto;
padding: 0 5%;
clear: both;
}


  .homepage_buttons {
    position: relative;
    background-color:#0a0a23;
    color: #fff;
    border-radius:5px; 
    padding:20px;
    left: 20px;
    min-height:30px; 
    min-width: 120px;
    text-align: center;
    font-size: 24px;
    padding: 16px 32px;
  }

  .services_buttons {
    position: relative;
    background-color:#4a4a50;
    color: rgb(247, 246, 241);
    border-radius:5px; 
    padding:20px;
    left: 20px;
    min-height:30px; 
    min-width: 120px;
    text-align: center;
    font-size: 24px;
    padding: 16px 32px;
  }

  .experts_buttons {
    position: relative;
    background-color:#4a4a50;
    color: rgb(247, 246, 241);
    border-radius:5px; 
    padding:20px;
    left: 20px;
    min-height:30px; 
    min-width: 120px;
    text-align: center;
    font-size: 24px;
    padding: 16px 32px;
  }

.info{
    position: relative;
    bottom:-450px;
    color: #fff;
    border:none; 
    text-align: center;
    width: 100%;
  }

  .service_page {
    position: absolute;
    text-align: center;
    top:80px;
    left:16px;
    color: whitesmoke;
    font-size: 45px;
    outline: 15px red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    clear: both;
    }


  
 
