
.homepage_background {
    background-image:url('./Photo/Homepage background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  }

.strokeme {
position: relative;
text-align: center;
color: white;
font-size: 64px;
outline: 15px red;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
max-width: 940px;
margin: 0 auto;
padding: 0 5%;
clear: both;
}

  .homepage_buttons {
    position: relative;
    background-color:#0a0a23;
    color: #fff;
    border-radius:5px; 
    padding:20px;
    left: 20px;
    min-height:30px; 
    min-width: 120px;
    text-align: center;
    font-size: 24px;
    padding: 16px 32px;
  }


.info{
    position: relative;
    bottom:-450px;
    color: #fff;
    border:none; 
    text-align: center;
    width: 100%;
  }
  
 
